

html{
    font-style: italic;

}

body{
    background-color: rgb(132, 196, 252);
}

.text{
    text-align: center;
    font-size: x-large

}

nav{
    font-size: x-large;
    height: 30px;
    border-radius: 5%;
    max-width: 0px;
    margin: left;


}

button{
 background-color: rgb(1, 1, 255);
 cursor: pointer;
 color: aliceblue;

}

.mb-3{
    display: center;
    text-align: center;
    font-size: x-large;
    max-width: 900px;
    margin: auto;
}

h1{
    padding: 5%;
    color: rgb(61, 60, 60);
}

h2{
    padding: 40px;
}

main{
    max-width: 1000px;
    margin: auto;
    text-align: center;

}
/*Estilo Cartas*/
.card{
    display:flex;
    background-color: rgb(52, 52, 247);
    color: aliceblue;
    text-align: center;
    padding: 1px;

}
/*Columnas Responsive*/
.row{
    padding: 1px;
    max-width: 1000px;
    margin: auto;


}


header{
    background-color: rgb(132, 196, 252);
    display: transparent;
    opacity: 60%;

}

.list-group{
    padding: 150px;
}


