

html{
    font-style: italic;

}

body{
    background-color: rgb(185, 220, 252);
}

.text{
    text-align: center;
    font-size: x-large

}

nav{
    font-size: x-large;
    max-width: 0px;
    margin: left;
}

button{
 background-color: rgb(140, 140, 156);
 cursor: pointer;
 color: aliceblue;

}

.mb-3{
    display: center;
    text-align: center;
    font-size: x-large;
    max-width: 900px;
    margin: auto;
}

h1{
    padding: 2%;
    color: rgb(61, 60, 60);
}

h2{
    padding: 40px;
}

h3{
    padding: 20px;
}

main{
    max-width: 1000px;
    margin: auto;
    text-align: center;

}
/*Estilo Cartas*/
.card{
    background-color:rgb(116, 178, 233);
    color: aliceblue;
    text-align: center;
    padding: 1px;

}
/*Columnas Responsive*/
.row{
    padding: 1px;
    max-width: 1000px;
    margin: auto;
    box-shadow: white;


}

header{
    background-color: rgb(185, 220, 252);
    display: transparent;
    color: aliceblue;

}

.imagenCabecera{
    border-radius: 1.5em;
    max-block-size: 400px;
}

.formulario{
    max-width: 500px;
    margin: auto;
}